
.navbar_design {
  background-color: #383435f2;
  height:80px;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--neutral-50);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.footer_design{
  background-color: #383435f2;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 75px;
}




